<a href="https://colab.research.google.com/github/kakarot5suyash/Numpy_Exercises/blob/main/Numpy_Exercise_34.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Exercise - 34
## Present the following two-dimensional array as a flattened one-dimensional array and print result to the console.
```
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])
```

## Expected Result:
```
[ 4.99  3.49  9.99  1.99  9.99 14.99 14.99  2.39  7.29]

```

In [1]:
import numpy as np

In [2]:
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 14.99],
              [14.99, 2.39, 7.29]])

print(A.ravel())

[ 4.99  3.49  9.99  1.99  9.99 14.99 14.99  2.39  7.29]