<a href="https://colab.research.google.com/github/kakarot5suyash/Numpy_Exercises/blob/main/Numpy_Exercise_32.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Numpy Exercise - 32
## Extract all elements from the following array with a value greater than 8 and print result to the console.
```
A = np.array([[4.99, 3.49, 9.99],
              [1.99, 9.99, 4.99],
              [14.99, 2.39, 7.29]])
```

## Expected Result:
```
[ 9.99  9.99 14.99]
```

In [3]:
import numpy as np

In [4]:
A = np.array([[4.99, 3.49, 9.99],[1.99, 9.99, 4.99],[14.99, 2.39, 7.29]])

print(A[A > 8])

[ 9.99  9.99 14.99]